.mainBlock {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.order {
  border: 2px solid;
  width: 260px;
  margin-right: 10px;
  padding: 0 10px;
}
.item {
  border: 2px solid;
  padding: 0px 10px 50px;
}
.item-inner {
  display: inline-block;
}
.item-btn {
  border: 2px solid;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  margin-right: 10px;
  border-radius: 10px;
  width: 120px;

}
.div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
img {
  width: 50px;
}